/****** General ***********/
* {
    font-family: 'Raleway', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    scroll-behavior: smooth;
}

:root {
    --main-color: #0065FC;
    --main-bg-color: #F2F2F2;
    --filter-bg-color: #DEEBFF;
    --transi200: 200ms;
}

.fa-solid {
    color: var(--main-color);
}

body {
    display: flex;
    justify-content: center;
    font-family: "Raleway", "sans serif";
    font-weight: 700;
    margin: 0 auto;
}

.main-container {
    width: 100%;
    max-width: 144rem;
    padding: 0 5rem;
    box-sizing: border-box;
}

a {
    color: inherit;
    text-decoration: none;
}

.card {
    background-color: white;
    border-radius: 2rem;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.016));
    transition: all var(--transi200) ease-in-out;
}

.card:hover {
    transform: scale(1.05);
}

.card img {
    object-fit: cover;
    border: 5px solid white;
}

.card-title {
    font-size: 16px;
}

.euro {
    font-weight: 700;
}

.neutral-star {
    color: var(--main-bg-color)
}

/*fontsize*/

h1 {
    font-size: 2.2rem;
}

.section-title {
    font-size: 2.2rem;
}

.h2-filter {
    font-size: 1.8rem;
}

.hebergements-and-populaires .card-title,
.card-subtitle {
    font-size: clamp(1.3rem, 1.2vw, 1.6rem);
}

h3,
li {
    font-size: 1.6rem;
}

.info-bar p {
    font-size: 1.6rem;
}

p {
    font-size: 1.6rem;
}

p,
a {
    font-weight: 500;
}

.card-rating {
    font-size: 1.2rem;
}

i {
    color: #0065FC;
    font-size: 1.5rem;
}

/*** header ***/
.nav-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 8rem;
}
.nav-bar-container {
    display: flex;
    justify-content: space-between;
}

.header-menu {
    display: flex;
    gap: 7rem;
    width: 100%;
    list-style: none;
    padding: 0;
}

.header-menu a::after {
    content: "";
    position: absolute;
    height: 2px;
    background-color: #0065FC;
    width: 0;
    top: -2rem;
    left: 0;
    transition: width var(--transi200) ease;
}

.header-menu a:hover {
    color: #0065FC;
}

.header-menu a:hover::after {
    width: 100%;
}


.logo-booki {
    width: 61.09px;
    height: 19px;
}

.box-logo {
    padding: 3rem 0;
}

.box-booki {
    display: flex;
    width: 161.09px;
    height: 79px;
    padding: 30px 50px;
    gap: 10px;
    align-items: center;
    justify-content: center;
}

.headline {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 0 auto;
    padding-top: 3rem;
    padding-bottom: 3.5rem;
    gap: 0.8rem;
}

nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    gap: 50px;
    margin: 10px;
    font-size: 23px;
    list-style: none;
}

nav a:hover {
    color: #0065FC;
    border-top: solid #0065FC;
    padding-top: 10px;
}

/****h1 et paragraphe****/
h1,p{
    font-size: 25px;
    font-size: 20px;
}

/***bare de recherche ***/
.search-bar {
    display: flex;
}

.search-icon {
    display: inline-block;
    display: none;
}


.info-bar {
    display: flex;
    align-items: center;
    padding-bottom: 3.5rem
}

.icon-info-bar {
    display: flex;
    align-items: center;
    border: 1px solid #D9D9D9;
    width: 2.5rem;
    height: 2.5rem;
    justify-content: center;
    border-radius: 50%;
}

.fa-info-circle {
    border-color: #D9D9D9;
    color: #0065FC;
}

.icon-box {
    width: 5rem;
    background-color: #F2F2F2;
    border-radius: 1.5rem 0 0 1.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.fa-location-dot {
    color: initial;
}

.search-city {
    width: fit-content;
}

.search-city input {
    width: 18rem;
    border: 1px solid #f2f2f2;
    font-weight: 700;
    font-size: 1.8em;
    padding: 1.5rem;
    outline: none;
}

.search-city input::placeholder {
    color: black;

}

.search-icon {
    background: #0065fc;
    border: 1px solid #0065fc;
    border-radius: 0 1.5rem 1.5rem 0;
    color: #fff;
    cursor: pointer;
    display: none;
}

.fa-magnifying-glass {
    color: #ffffff;
}

.search {
    width: 14rem;
    background: #0065fc;
    border: 1px solid #0065fc;
    border-radius: 0 1.5rem 1.5rem 0;
    color: #ffffff;
    cursor: pointer;
    font-size: 1.7em;
    font-weight: 700;
}

    .filter-search {
        margin: 30px 0;
        display: flex;
        align-items: center;
        gap: 10px;
    }
    .filter-search h2 {
        font-size: 1.2rem;
    }

    .filter-search button {
        color: black;
        font-weight: bold;
        font-size: 20px;
        border: 2px solid rgb(204, 204, 204);
        border-radius: 50px;
        background: none;
        padding: 13px 20px;
        margin: 5px;
        transition: 0.3s;
        cursor: pointer;
    }
    

    .filter-search button:hover {
        background: #DEEBFF;
    }
    .filter-search i {
        margin-right: 10px;
        font-size: 20px;
    }
    .icon-info {
        display: flex;
        align-items: center;
        gap: 10px;
    }
    .icon-info i {
        display: flex;
        font-size: 20px;
        border: 1px solid rgb(204, 204, 204);
        border-radius: 50%;
        justify-content: center;
        align-items: center;
        transform: translateY(-15px);
        min-width: 25px;
        min-height: 25px;
       
    }

    .info-bar {
        display: flex;
        align-items: center;
        padding-bottom: 3.5rem
    }
    
    .icon-info-bar {
        display: flex;
        align-items: center;
        border: 1px solid #D9D9D9;
        width: 2.5rem;
        height: 2.5rem;
        justify-content: center;
        border-radius: 50%;
    }


    .main-filter {
        max-width: 75rem;
        margin: 3rem 0;
    }
    
    .filter-bar {
        display: flex;
        align-items: center;
        gap: 1.5rem;
    }
    
    .filter-container {
        display: flex;
        justify-content: space-between;
        width: 100%;
    }
    
    .filter {
        display: flex;
        height: 5rem;
        align-items: center;
        border: 2px solid #d9d9d9;
        border-radius: 4rem;
        padding: 0 1.5rem;
        cursor: pointer;
    }
    
    .filter:hover {
        background-color: #deebff;
        transition: var(--transi200);
    }
    
    .filter i {
        margin-right: 1rem;
    }
    
    .filter p {
        font-size: 1.8rem;
        font-weight: 700;
    }

    
/****** Hebergements And Populaires ***********/
.hebergements-and-populaires {
    display: flex;
    justify-content: space-between;
}

.hebergements {
    background-color: var(--main-bg-color);
    border-radius: 2rem;
    box-sizing: border-box;
    width: 65%;
    padding: 3rem;
}

.populaires {
    background-color: var(--main-bg-color);
    border-radius: 2rem;
    box-sizing: border-box;
}


/****** Hebergements ***********/


.hebergements-title {
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.hebergements-cards {
    display: flex;
    flex-wrap: wrap;
    row-gap: 3rem;
    align-items: center;
    justify-content: space-between;
    padding-top: 3rem;
}

.hebergements-cards a {
    width: 30%;
}

.hebergements-cards img {
    object-fit: cover;
    width: 100%;
    height: 12.4rem;
    box-sizing: border-box;
    object-fit: cover;
    border-top-left-radius: 2rem;
    border-top-right-radius: 2rem;
}

.card-content {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
    padding: 0 0.8rem;
}

.button-hebergements {
    margin-top: 3rem;
}

.hebergements-cards .card-subtitle {
    margin: 0;
}

.hebergements-cards .card-rating {
    margin-bottom: 5px;
    
}

/****** Populaires ***********/
.populaires {
    width: 32%;
    padding: 0 2.5rem;
}

.populaires-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 3rem 0;
}

.popular-container {
    display: flex;
    flex-direction: column;
    gap: 3rem;
    padding: 0 0 3rem 0;
}

.popular-container .card {
    display: flex;
}

.popular-container img {
    width: 33%;
    height: 13.6rem;
    border-top-left-radius: 2rem;
    border-bottom-left-radius: 2rem;
}

.popular-container .card-content {
    width: 67%;
    height: auto;
    padding: 0.8rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
}

.popular-container .card-title {
    margin-bottom: 0.4rem;
}

.popular-container .card-subtitle {
    margin: 0;
}

.popular-container .card-rating {
    margin-bottom: 0.5rem;
}

/****** Activities ***********/

.activities {
    margin: 3.5rem 3rem;
}

.activities-cards {
    display: flex;
    justify-content: space-between;
    padding-top: 3rem;
}

.activities-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.activities-cards .card {
    width: 23%;
    height: 44rem;
}

.activities-cards img {
    width: 100%;
    height: 38rem;
    border-top-left-radius: 2rem;
    border-top-right-radius: 2rem;
    border: none;
}

.activities-cards .card-content {
    padding-left: 1.5rem;
    padding-top: 1.5rem;
}

.activities-cards .card-subtitle {
    margin: 0;
}

.activities-cards .card-rating {
    margin-bottom: 5px;
}


/*footer*/


.footer ul {
    list-style: none;
    padding: 0;
}

.footer-nav {
    display: flex;
    justify-content: space-between;
    background-color: #F2F2F2;
}

.footer-container {
    width: 33%;
    padding: 2rem;
}

.footer h3 {
    font-size: 1.8rem;
    padding-left: 1.5rem;
}

.footer-container ul li {
    padding: 1.5rem 1.5rem 0;
}
footer li :hover{
    color: #0065FC;
}    


/*Main title, Hebergement title, activités title*/

.hebergements-title,
.activities-title,
.h1 {
    display: flex;
    justify-content: space-between;
    align-items: center;
}


/* Media queries */

@media (min-width: 1025px) and (max-width: 1440px) {

    body {
        max-width: 1440px;
    }
}